allow fingerprintd tee_device:chr_file rw_file_perms;
allow fingerprintd sysfs:file w_file_perms;

type fpcd_old_data_file, file_type, data_file_type;
type fpcd_data_file,file_type, data_file_type;
type fpcd_socket, file_type;

type sysfs_fpcd_clk_enable, fs_type, sysfs_type;
type sysfs_fpcd_irq, fs_type, sysfs_type;
type sysfs_fpcd_spi_prepare, fs_type, sysfs_type;
type sysfs_fpcd_wakeup, fs_type, sysfs_type;

allow fingerprintd diag_data_file:dir search;
allow fingerprintd diag_data_file:dir rw_dir_perms;
allow fingerprintd diag_data_file:file rw_file_perms;
allow fingerprintd diag_data_file:sock_file { write create unlink };

allow fingerprintd fpcd_old_data_file:file rw_file_perms;

allow fingerprintd fpcd_data_file:dir rw_dir_perms;
allow fingerprintd fpcd_data_file:file rw_file_perms;
allow fingerprintd fpcd_data_file:sock_file { write create unlink };

allow fingerprintd fpcd_socket:file rw_file_perms;

allow fingerprintd input_device:dir r_dir_perms;
allow fingerprintd input_device:chr_file r_file_perms;

allow fingerprintd sysfs_fpcd_irq:file rw_file_perms;
allow fingerprintd sysfs_fpcd_clk_enable:file rw_file_perms;
allow fingerprintd sysfs_fpcd_spi_prepare:file rw_file_perms;
allow fingerprintd sysfs_fpcd_wakeup:file rw_file_perms;
