allow init brcm_ldisc_sysfs:lnk_file read;
allow init brcm_uim_exec:file { execute r_file_perms };
allow init debugfs:file w_file_perms;
allow init hci_attach_dev:chr_file rw_file_perms;
allow init persist_file:dir mounton;
allow init proc_dirty_ratio:file write;
allow init proc_kernel_sched:file write;
allow init sysfs_camera_torch:lnk_file read;
allow init tad_socket:sock_file create;
allow init tmpfs:lnk_file create_file_perms;
allow init trim_area_partition_device:blk_file create_file_perms;
allow init uim:process { siginh noatsecure transition rlimitinh };