allow mediaserver hal_configstore_default:binder call;
allow mediaserver hal_configstore_ISurfaceFlingerConfigs:hwservice_manager find;
allow mediaserver qcamerasvr:unix_dgram_socket sendto;
allow mediaserver qcamerasvr:unix_stream_socket connectto;
allow mediaserver secd_socket:sock_file write;
allow mediaserver sensorservice_service:service_manager find;
allow mediaserver sysfs_camera_torch:dir search;
allow mediaserver sysfs_camera_torch:file rw_file_perms;
allow mediaserver sysfs_camera_torch:lnk_file read;
allow mediaserver sysfs_graphics:file r_file_perms;
allow mediaserver system_server:unix_stream_socket {read write};
allow mediaserver ta_data_file:dir search;
