allow perfd sysfs_performance:dir search;
allow perfd sysfs_performance:file rw_file_perms;

# perfd service
type perfd, domain;
type perfd_exec, exec_type, file_type;

init_daemon_domain(perfd)

allow perfd proc:file { open write };
allow perfd socket_device:sock_file write;
allow perfd sysfs_devices_system_cpu:file write;
allow perfd sysfs_memory:dir search;
allow perfd sysfs_memory:file { open write };
allow perfd sysfs_msm_perf:dir search;
allow perfd sysfs_msm_perf:file { open write };
allow perfd sysfs_msm_power:dir search;
allow perfd sysfs_msm_power:file { open write };

allow perfd cgroup:file read;
allow perfd freq_prop:file { getattr open read };
allow perfd proc:file read;
allow perfd self:capability kill;
allow perfd sysfs:dir { open read };
allow perfd sysfs:file { open read };
allow perfd sysfs_kgsl:file { open read };
allow perfd sysfs_memory:file read;
allow perfd sysfs_msm_perf:file read;
allow perfd system_data_file:dir { add_name write };
allow perfd system_server:process signull;

