# ppd service
type ppd, domain;
type ppd_exec, exec_type, file_type;

# Started by init
init_daemon_domain(ppd)

allow ppd ion_device:chr_file write;
set_prop(ppd, display_prop);
allow ppd system_prop:property_service set;
allow ppd diag_device:chr_file { ioctl open read write };
allow ppd graphics_device:chr_file { ioctl open read write };
allow ppd ion_device:chr_file { open read };
allow ppd persist_display_file:dir search;
allow ppd postprocessing_prop:file { getattr open read };
allow ppd postprocessing_prop:property_service set;
allow ppd sysfs_graphics:dir search;
allow ppd sysfs_graphics:file { getattr open read write };
allow ppd sysfs_leds:dir search;
allow ppd graphics_device:dir search;
allow ppd persist_file:dir search;
allow ppd display_vendor_data_file:dir search;
