allow priv_app alarm_boot_prop:file r_file_perms;
allow priv_app alarm_handled_prop:file r_file_perms;
allow priv_app alarm_instance_prop:file r_file_perms;
allow priv_app bg_boot_complete_prop:file r_file_perms;
allow priv_app bg_daemon_prop:file r_file_perms;
allow priv_app boot_mode_prop:file r_file_perms;
allow priv_app coresight_prop:file r_file_perms;
allow priv_app device:dir open;
allow priv_app freq_prop:file r_file_perms;
allow priv_app hal_memtrack_hwservice:hwservice_manager find;
allow priv_app mmi_prop:file open;
allow priv_app mpdecision_prop:file r_file_perms;
allow priv_app nfc_nq_prop:file r_file_perms;
allow priv_app opengles_prop:file r_file_perms;
allow priv_app per_mgr_state_prop:file r_file_perms;
allow priv_app proc_interrupts:file open;
allow priv_app qcom_ims_prop:file r_file_perms;
allow priv_app qdma_prop:file r_file_perms;
allow priv_app qemu_gles_prop:file r_file_perms;
allow priv_app qemu_hw_mainkeys_prop:file r_file_perms;
allow priv_app scr_enabled_prop:file r_file_perms;
allow priv_app sdm_idle_time_prop:file r_file_perms;
allow priv_app spcomlib_prop:file r_file_perms;
allow priv_app sys_usb_configfs_prop:file r_file_perms;
allow priv_app sys_usb_controller_prop:file r_file_perms;
allow priv_app sys_usb_tethering_prop:file r_file_perms;
allow priv_app tee_prop:file r_file_perms;
allow priv_app uicc_prop:file r_file_perms;
allow priv_app usf_prop:file r_file_perms;
allow priv_app vendor_rild_libpath_prop:file r_file_perms;
allow priv_app vendor_system_prop:file r_file_perms;
allow priv_app vr_manager_service:service_manager find;
allow priv_app wcnss_prop:file r_file_perms;
allow priv_app wififtmd_prop:file r_file_perms;
allow priv_app wigig_prop:file r_file_perms;
