# tee starts as root, and drops privileges
allow tee self:capability {
    setgid
    setuid
};

allow tee block_device:dir r_dir_perms;
allow tee fingerprintd_data_file:dir rw_dir_perms;
allow tee fingerprintd_data_file:file create_file_perms;
allow tee rpmb_device:blk_file rw_file_perms;
allow tee ssd_device:blk_file rw_file_perms;
allow tee system_data_file:dir r_dir_perms;

binder_use(tee)

qmux_socket(tee);

r_dir_file(tee, firmware_file)

set_prop(tee, tee_prop)