allow radio system_app_data_file:dir getattr;
allow rild cache_file:dir rw_dir_perms;
allow rild cache_file:file { r_file_perms unlink };
allow rild tad_socket:sock_file write;
allow rild tad:unix_stream_socket connectto;
allow rild tee_device:chr_file rw_file_perms;