# sct_service service
type sct_service, domain;
type sct_service_exec, exec_type, file_type;

# Started by init
init_daemon_domain(sct_service)

# Allow sct_service to use net_raw capability
allow sct_service self:capability net_raw;

# Allow sct_service to create self:socket
allow sct_service self:socket create_socket_perms;
allow sct_service self:socket { create read write };
allowxperm sct_service self:socket ioctl msm_sock_ipc_ioctls;
