allow servicemanager init:dir search;
allow servicemanager init:file r_file_perms;
allow servicemanager init:process getattr;
allow servicemanager per_proxy:dir search;
allow servicemanager per_proxy:file r_file_perms;
allow servicemanager per_proxy:process getattr;
