allow sudaemon boot_animation_prop:file getattr;
allow sudaemon boottime_prop:file getattr;
allow sudaemon crash_prop:file getattr;
allow sudaemon device_logging_prop:file getattr;
allow sudaemon dolby_prop:file getattr;
allow sudaemon dumpstate_options_prop:file getattr;
allow sudaemon fm_prop:file getattr;
allow sudaemon fst_prop:file getattr;
allow sudaemon location_prop:file getattr;
allow sudaemon logpersistd_logging_prop:file getattr;
allow sudaemon mmc_prop:file getattr;
allow sudaemon mmi_prop:file getattr;
allow sudaemon net_dns_prop:file getattr;
allow sudaemon netd_prop:file getattr;
allow sudaemon overlay_prop:file getattr;
allow sudaemon persistent_properties_ready_prop:file getattr;
allow sudaemon qemu_gles_prop:file getattr;
allow sudaemon rmnet_mux_prop:file getattr;
allow sudaemon safemode_prop:file getattr;
allow sudaemon vendor_system_prop:file getattr;
allow sudaemon wifi_prop:file getattr;
allow sudaemon wigig_prop:file getattr;
allow sudaemon xlat_prop:file getattr;
