type taimport, domain, domain_deprecated;
type taimport_exec, exec_type, file_type;

# Started by init
init_daemon_domain(taimport)

allow taimport self:capability dac_override;
allow taimport self:capability setgid;
allow taimport ta_data_file:dir create_dir_perms;
allow taimport ta_data_file:file create_file_perms;
allow taimport tad_socket:sock_file write;

unix_socket_connect(taimport, tad, tad)