# taimport service
type taimport, domain;
type taimport_exec, exec_type, file_type;

# Started by init
init_daemon_domain(taimport)

allow taimport tad_socket:sock_file { write };
allow taimport ta_data_file:dir { read search write add_name create remove_name };
allow taimport ta_data_file:file { read write create getattr open unlink};
allow taimport self:capability { dac_override setgid };
allow taimport socket_device:sock_file write;
allow taimport system_data_file:dir { add_name remove_name write };
allow taimport init:unix_stream_socket connectto;
