allow ueventd {
    sysfs_battery_supply
    sysfs_socinfo
    sysfs_thermal
    sysfs_usb_supply
}:file w_file_perms;

allow ueventd device:file relabelfrom;
allow ueventd sysfs_camera_torch:file rw_file_perms;
allow ueventd urandom_device:file { relabelto setattr };

r_dir_file(ueventd, firmware_file)
r_dir_file(ueventd, persist_file)
r_dir_file(ueventd, wifi_data_file)

rw_dir_file(ueventd, sysfs_bluetooth_writable)