type uim, domain;

allow uim bluetooth_prop:sock_file write;
allow uim brcm_uim_exec:file { entrypoint rx_file_perms };
allow uim hci_attach_dev:chr_file rw_file_perms;
allow uim rootfs:lnk_file getattr;
allow uim self:capability { net_admin dac_override };
allow uim ta_data_file:dir search;
allow uim ta_data_file:file r_file_perms;

rw_dir_file(uim, bluetooth_data_file)
rw_dir_file(uim, brcm_ldisc_sysfs)
rw_dir_file(uim, sysfs)
rw_dir_file(uim, sysfs_bluetooth_writable)