allow untrusted_app net_dns_prop:file r_file_perms;
allow untrusted_app proc_tty_drivers:file r_file_perms;
allow untrusted_app qemu_hw_mainkeys_prop:file r_file_perms;
