allow untrusted_app proc_tty_drivers:file { getattr open read };
allow untrusted_app qemu_hw_mainkeys_prop:file { getattr open };
allow untrusted_app net_dns_prop:file { getattr open };
