# qcamerasvr service
service qcamerasvr /vendor/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics
    task_profiles CameraServiceCapacity
    setenv LD_PRELOAD libsensor.so:libmutex_destroy_shim.so
