service vendor.dumpstate-default /vendor/bin/hw/android.hardware.dumpstate-service.kitakami
    class hal
    user nobody
    group nobody
    interface aidl android.hardware.dumpstate.IDumpstateDevice/default
    oneshot
    disabled
